/* nav css */

.nav-logo {
    text-align:right;
    list-style: none;
    margin-left: 3%;
    margin-top: -25%;
  }
  
  .navbar{
  margin-top: 5%;
  color: #707070;
  font-family:'Poppins', sans-serif;
  text-align:left;
  font-size: 14pt;
  list-style: none;
  }
  
  .nav-links{ 
  margin-right: 3%;
  color: #707070;
  font-family:'Poppins', sans-serif;
  font-weight: lighter;
  text-align:left;
  list-style: none;
  }
  
  a {
  color: #707070;
  }
  
  a:hover {
  color:#F7BC54;
  }

  .mobile-container{
  display: none;
  }

/* About Section */

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "aboutText""Img-container";
    margin-top: -20%;
  }

  #aboutText{
      padding:50px;
  }

  H1{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    text-align:right;
    font-size: 7vmin;
    padding-bottom: 10px;
  }

.descrip, .descrip2, .descrip3{
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
    word-break: keep-all;
    color: #8C8B8B;
    font-weight: lighter;
    line-height: 23pt;
    font-size: 3.2vmin;
    text-align: right;
  }
  
  h2{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 3vmin;
    text-align:right;
  }
  
.aboutPic{
    width: 60%;
    }
  
/* Additional Info Section */

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "content1" "content2" 
    "content3" "content4";
    padding: 80px;
    }
    
h5{
color:#4D4D4D;
font-size: 3vmin;
}

.about1, .about2, .about4{
    color: #8C8B8B;
}
    #content1{
    grid-area: 'content1';
    font-family: 'Poppins', sans-serif;
    padding:60px;
    word-break: keep-all;
    word-spacing: 1.5pt;
    }

    .about1{
    line-height: 21pt;
    font-size: 2.3vmin;
    }
 
    
    #content2{
    grid-area: 'content2';
    font-family: 'Poppins', sans-serif;
    padding:60px;
    }
  
/* footer css */

footer{
font-family: 'Poppins', sans-serif;
color: #707070;
background-color: light grey;
height: 90px;
padding: 90px;
font-size: 1em;
clear: both;
position: relative;
}

.top-button{
float: right;
margin-bottom: 5%;
}

.scrollToTopBtn {
background-color:transparent;
border: none;
color: #707070;
cursor: pointer;
font-size: 25pt;
line-height: 48px;
width: 50px;
text-decoration: none;

/* place it at the bottom right corner */
position: fixed;
bottom: 55px;
right: 100px;
/* keep it at the top of everything else */
z-index: 100;
/* hide with opacity */
opacity: 0;
/* also add a translate effect */
transform: translateY(100px);
/* and a transition */
transition: all 0.5s ease;
}

.showBtn {
opacity: 1;
transform: translateY(0);
}







