
html{
  scroll-behavior: smooth;
}

/* nav css */


.nav-logo {
    text-align:right;
    list-style: none;
    margin-left: 3%;
    margin-top: -18%;
}

.NavBar2{
  color: #707070;
  font-family:'Poppins', sans-serif;
  text-align:left;
  font-size: 14pt;
  list-style: none;
  margin-top: 5%;
  margin-right: 4%;
}

.nav-item{ 
  color: #707070;
  font-family:'Poppins', sans-serif;
  font-weight: lighter;
  text-align:left;
  list-style: none;
}

.nav-link{
  border: none;
}

a {
  color: #707070;
}

a:hover {
  color:#F7BC54;
  }

  /* Intro Section css */

  .mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
   margin-top: -11%;
   margin-left: 2%;
   max-width: 500%;
  } 

  .alondraText{
    margin-top: -8%;
    margin-right: -1%;
  }
   
    .alondraImg{
      margin-top: 13%;
      margin-left: 18%;
      padding: 2px;
      transform: translate(-13%, -39%);
      z-index: 1;
      left: 26.2039px;
      position: relative;
      top: 130.502px;
    }

    .alondraElements{
      margin-left: 8%;
      margin-top: -4%;
    }

    .block-pink{
      position: absolute;
      background-color: #FCECF0;
      height: 500px;
      width: 395px;
      transform: translate(9%, -18%);
      z-index: -1;
    }
  
  H1{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: lighter;
    text-align:right;
    font-size: 55pt;
    line-height: 67pt;
    transform: translate(8%, -80%);
  }
  
  .introText{
    font-family: 'Poppins', sans-serif;
    color: #8C8B8B;
    font-weight: lighter;
    font-size: 28pt;
    line-height: 35pt;
    text-align: right;
    letter-spacing: .5pt;
    word-wrap: break-word;
    transform: translate(6%, -18%);
  }


  h3{
    font-family:'Bold''Poppins', sans-serif;
    color:#F7BC54;
    font-weight: bold;
    font-size: 50pt;
    text-align:center;
    line-height: 60pt;
    letter-spacing: 1.5pt;
    transform: translate(-2%, 5%);
    z-index: 1;

  }

.orgGif{
  width: 115px;
  margin-right: 75%;
  margin-left: -12%;
  margin-top: -8%;
}


 /*  Case study CSS */

  

.caseContainer{
  margin-top: -25%;
}


  h2{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: lighter;
    font-size: 40pt;
    text-align:right;
    line-height: 67pt;
    transform: translate(6%, -70%);
  }



.caseStudy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
}

.caseStudy-img {
justify-content: left;
width: 400px;
max-width: 600px;
min-width: none;

}

.caseStudy-blurb{
margin-left: 45px;
margin-right: -55%;
}

h4{
  font-size: 25pt;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
}

.caseStudy-summary{
  line-height: 25pt;
  font-size: 16pt;
  margin-left: 8%;
  margin-bottom: -3%;
}

 .workGrid{
     display:grid;
     grid-template-areas: 'myArea1';
     grid-template-columns: 2fr;
     margin: 5%;
     padding: 40px;
 }

.item1{
    display: grid;
    margin-top: 8%;
    margin-bottom: 4%;
    background-color: #fdeed4; 
    max-width: 1200px;
}

button[type="caseStudy"]{
  width: 200px;
  height: 75px;
  border: none;
  outline: none;
  padding: 20px; 
  font-size: 19px;
  font-weight: 150pt;
  border-radius: 8px;
  font-family: 'Semibold Cabin', sans-serif;
  background-color: #FFA505;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  transform: translate(10%, -5%);
  transition: all .3s, ease;
}


button[type="caseStudy"]:hover{
  background-color: #E59200;
  font-family: 'Semibold Cabin', sans-serif;
 
  }
  

/* footer css */

footer {
  justify-content: space-evenly;
  font-size: 18pt;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color:#fdeed4;
  padding: 4%;
  }
  

.footerAll{
  margin:0 auto;
  text-align: center;

}

.footerSocials{
  margin:0 auto;
  text-align: center;
}






















