html{
  scroll-behavior: smooth;
}

/* nav css */


.nav-logo {
    text-align:right;
    list-style: none;
    margin-left: 3%;
    margin-top: -8%;
}

.navbar{
  margin-top: 5%;
  width: 100%;
  color: #707070;
  font-family:'Poppins', sans-serif;
  text-align:left;
  font-size: 14pt;
  list-style: none;
}

.nav-links{ 
  margin-right: 3%;
  color: #707070;
  font-family:'Poppins', sans-serif;
  font-weight: lighter;
  text-align:left;
  list-style: none;
}

a {
  color: #707070;
}

a:hover {
  color:#F7BC54;
  }

  .mobile-container {
    display: none;
    max-width: 480px;
    margin: auto;
    background-color: white;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    border-radius: 10px;
  }

  /* Intro Section css */



  header{
    display: grid;
    flex-direction: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    width: 100vw;
    height: 100vh;
     margin-top: -8%;
     margin-left: 2%;
     max-width: 500%;
     margin-bottom: -30%;

  }

  .header-content{
    margin-left: 8%;
    margin-top: -10%;
  } 

  H1{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: lighter;
    text-align:right;
    font-size: 10vmin;
    transform: translate(8%, -90%);
  }

  .introText{
    font-family: 'Poppins', sans-serif;
    color: #8C8B8B;
    font-weight: lighter;
    font-size: 6vmin;
    line-height: 37pt;
    text-align: right;
    letter-spacing: .5pt;
    word-wrap: break-word;
    transform: translate(6%, -23%);
  }

  h2{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: lighter;
    font-size: 7vmin;
    text-align:right;
    line-height: 67pt;
    transform: translate(6%, -90%);
  }

    .container-Elements{
      margin-left: 8%;
      margin-top: 2%;
    }

    .block-pink{
      position: absolute;
      background-color: #FCECF0;
      height: 520px;
      width: 395px;
      transform: translate(9%, -30%);
      z-index: -1;
    }

    .alondraImg{
      margin-top: 13%;
      margin-left: 18%;
      padding: 2px;
      transform: translate(-10%, -40%);
      z-index: 1;
      left: 26.2039px;
      position: relative;
      top: 130.502px;
      justify-content: center;
    }
  
  h3{
    font-family:'Bold''Poppins', sans-serif;
    color:#F7BC54;
    font-weight: bold;
    font-size: 9vmin;
    text-align:center;
    line-height: 60pt;
    letter-spacing: 1.5pt;
    transform: translate(-2%, 14%);
    z-index: 1;

  }

.orgGif{
  width: 135px;
  margin-right: 75%;
  margin-left: -12%;
  margin-top: -12%;
}
/* reworked CSS */



/*     
  Mobile: 360 x 640
  Mobile: 375 x 667
  Mobile: 360 x 720
  iPhone X: 375 x 812
  Pixel 2: 411 x 731
  Tablet: 768 x 1024
  Laptop: 1366 x 768
  High-res laptop or desktop: 1920 x 1080 */












