html{
  scroll-behavior: smooth;
}

/* nav css */


.nav-logo {
    text-align:right;
    list-style: none;
    margin-left: 3%;
    margin-top: -12%;
}

.navbar{
  margin-top: 5%;
  width: 100%;
  color: #707070;
  font-family:'Poppins', sans-serif;
  text-align:left;
  font-size: 14pt;
  list-style: none;
}

.nav-links{ 
  margin-right: 3%;
  color: #707070;
  font-family:'Poppins', sans-serif;
  font-weight: lighter;
  text-align:left;
  list-style: none;
}

a {
  color: #707070;
}

a:hover {
  color:#F7BC54;
  }

  .mobile-container {
    display: none;
    max-width: 480px;
    margin: auto;
    background-color: white;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    border-radius: 10px;
  }

  /* Intro Section css */



  header{
    display: grid;
    flex-direction: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    width: 100vw;
    height: 100vh;
     margin-top: -11%;
     margin-left: 2%;
     max-width: 500%;

  }

  .header-content{
    margin-left: 8%;
    margin-top: -10%;
  } 

  H1{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: lighter;
    text-align:right;
    font-size: 10vmin;
    transform: translate(8%, -90%);
  }

  .introText{
    font-family: 'Poppins', sans-serif;
    color: #8C8B8B;
    font-weight: lighter;
    font-size: 6vmin;
    line-height: 37pt;
    text-align: right;
    letter-spacing: .5pt;
    word-wrap: break-word;
    transform: translate(6%, -23%);
  }

  h2{
    font-family:'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: lighter;
    font-size: 7vmin;
    text-align:right;
    line-height: 67pt;
    transform: translate(6%, -90%);
  }

    .container-Elements{
      margin-left: 8%;
      margin-top: 2%;
    }

    .block-pink{
      position: absolute;
      background-color: #FCECF0;
      height: 520px;
      width: 395px;
      transform: translate(9%, -30%);
      z-index: -1;
    }

    .alondraImg{
      margin-top: 13%;
      margin-left: 18%;
      padding: 2px;
      transform: translate(-10%, -40%);
      z-index: 1;
      left: 26.2039px;
      position: relative;
      top: 130.502px;
      justify-content: center;
    }
  
  h3{
    font-family:'Bold''Poppins', sans-serif;
    color:#F7BC54;
    font-weight: bold;
    font-size: 9vmin;
    text-align:center;
    line-height: 60pt;
    letter-spacing: 1.5pt;
    transform: translate(-2%, 14%);
    z-index: 1;

  }

.orgGif{
  width: 135px;
  margin-right: 75%;
  margin-left: -12%;
  margin-top: -12%;
}


 /*  Case study CSS */

  
 .workGrid{
  display:grid;
  grid-template-areas: 'myArea1';
  grid-template-columns: 2fr;
  margin: 5%;
  padding: 40px;
}

.item1{
  display: grid;
  margin-top: 8%;
  margin-bottom: 4%;
  background-color: #fdeed4; 
  max-width: 1200px;
}


.caseStudy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
}

.caseStudy-img {
justify-content: left;
width: 400px;
max-width: 600px;
min-width: none;

}

.caseStudy-blurb{
margin-left: 45px;
margin-right: -55%;
}

h4{
  font-size: 25pt;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
}

.caseStudy-summary{
  line-height: 25pt;
  font-size: 16pt;
  margin-left: 8%;
  margin-bottom: -3%;
}

 

button[type="caseStudy"]{
  width: 200px;
  height: 75px;
  border: none;
  outline: none;
  padding: 20px; 
  font-size: 19px;
  font-weight: 150pt;
  border-radius: 8px;
  font-family: 'Semibold Cabin', sans-serif;
  background-color: #FFA505;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  transform: translate(10%, -5%);
  transition: all .3s, ease;
}


button[type="caseStudy"]:hover{
  background-color: #E59200;
  font-family: 'Semibold Cabin', sans-serif;
 
  }
  

/* footer css */

footer {
  justify-content: space-evenly;
  font-size: 20pt;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding: 4%;
  }
  

.footerAll{
  margin:0 auto;
  text-align: flex-start;

}

.footerSocials{
  margin:0 auto;
  text-align: flex-start;
}



/* * Media Queries */

@media only screen and (max-width:500px){ 
  /* anything more than 700 css style */
    /* With Mobile View + Nav */
  
    .mobile-container {
      display: block;
      max-width: 700px;
      margin: auto;
      background-color: white;
      height: 50px;
      font-family: 'Poppins', sans-serif;
      color: #707070;
      border-radius: 10px;
      margin-top: -25%;
      margin-right: -5%;
    }
    
    .topnav {
      font-family: 'Poppins', sans-serif;
      overflow: hidden;
      background-color:white;
      position: relative;
      text-align:right;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      font-family: 'Poppins', sans-serif;
      color: #70707070;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      font-family: 'Poppins', sans-serif;
      background: white;
      color: #70707070;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      font-family: 'Poppins', sans-serif;
      background-color: white;
      color:#F7BC54;
    }
    
    .active {
      font-family: 'Poppins', sans-serif;
      background-color: white;
      color: #70707070;
    }
  
   .nav-logo{
    display: block;
    margin: 2%;
    max-width: 50px;
    height: 45px;
    position: relative;
    }

    .nav-links{
      display: none;
      margin-top: -9000px;
    }
  
    .main-wrapper{
      display: grid;
      columns: 2;
      grid-template-columns: 1fr;
      grid-template-rows: 575px;
      height: fit-content;
      justify-content: center;
      margin-top: -20%;
      margin: auto;
      padding: 100px;
    }

  H1, H3{
      font-size: 25pt;
      justify-content: center;
      }

      H2{
        font-size: 25pt;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        }

    .introText{
      margin:0px auto;
      font-size: 15pt;
      line-height: 32pt;
      justify-content: center;
    }
  
      .container-Elements{
        display: grid;
        columns: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
        height: fit-content;
        max-width: 90px;
        height: 75px;
      }

      .orgGif{
        display: none;
      }






  }
@media only screen and (max-width:780px){ 
/* anything more than 700 css style */
  /* With Mobile View + Nav */

  .mobile-container {
    display: block;
    max-width: 700px;
    margin: auto;
    background-color: white;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    border-radius: 10px;
    margin-top: -25%;
    margin-right: -5%;
  }
  
  .topnav {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color:white;
    position: relative;
    text-align:right;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    font-family: 'Poppins', sans-serif;
    color: #70707070;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    font-family: 'Poppins', sans-serif;
    background: white;
    color: #70707070;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color:#F7BC54;
  }
  
  .active {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #70707070;
  }
  .nav-logo{
    margin-top: -9%;
    margin-right: 8%;
  }

  .nav-links{
    display: none;
    margin-top: -9000px;
  }

  .main{
    display: grid;
    columns: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    margin-top: -10%;
    padding: 100px;
  
  }

  .header-content, .introText{
    margin:0px auto;
    font-size: 3vmin;
    line-height: 32pt;
  }
  
  H1,H2,H3{
    font-size: 4vmin;
    }
  
  .container-Elements{
  align-self: center;
    }
  
    .block-pink{
      margin-right: -15%;
    }
  
    .orgGif{
      display: none;
    }

}

@media only screen and (max-width:992px){ 
/* anything more than 992 css style */
  /* With Mobile View + Nav */
*{font-family: 'Poppins', sans-serif;

}

  .mobile-container {
    display: block;
    max-width: 900px;
    margin: auto;
    background-color: white;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    border-radius: 10px;
    margin-top: -20%;
    margin-right: -5%;
  }
  
  .topnav {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: white;
    position: relative;
    text-align:right;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    font-family: 'Poppins', sans-serif;
    color: #70707070;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    font-family: 'Poppins', sans-serif;
    background: white;
    color: #70707070;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color:#F7BC54;
  }
  
  .active {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #70707070;
  }

  .navbar{
    margin-top: 18%;
    margin-bottom: 15%;
    padding:40px;
  }
  .nav-links{
    display: none;
    margin-top: -9000px;
  }

  .main{
    display: grid;
    columns: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    margin-top: -10%;
    padding: 100px;
  
  }

  .header-content, .introText{
    margin:0px auto;
    font-size: 3vmin;
    line-height: 32pt;
  }
  
  H1,H2,H3{
    font-size: 4vmin;
    }
  
  .container-Elements{
  align-self: center;
    }
  
    .block-pink{
      margin-right: -15%;
    }

    .orgGif{
      display: none;
    }

}


@media only screen and (max-width:1250px){ 
/* anything less than 1100 css style */
  /* With Mobile View + Nav */
 

}



@media only screen and (max-width:1330px){ 

/* anything less than 1330 css style */
.nav-logo{
    margin-right: 8%;
    margin-bottom: 5%;
  }

.navbar{
  width: 95%;
}
.main{
  bottom: 15px;
}
.header-content{
  margin-right: 18%;
}

H1,H2,H3{
  font-size: 4rem;
  }

.introText{
 font-size: 25pt;
line-height: 32pt;
}

.container-Elements{
 margin-left: -15%;
  }

  .block-pink{
    margin-right: -15%;
  }


}

@media only screen and (min-width:2000px){ 

}







/*     
  Mobile: 360 x 640
  Mobile: 375 x 667
  Mobile: 360 x 720
  iPhone X: 375 x 812
  Pixel 2: 411 x 731
  Tablet: 768 x 1024
  Laptop: 1366 x 768
  High-res laptop or desktop: 1920 x 1080 */












