@media screen and (max-width: 400px) {

    .mainContainer{
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-template-areas: 
        "alondraText"
        "alondraElements"
        "block-pink";
        background-color: grey;
        width: 55%;
        text-align: right;
    }
    .alondraElements{
        width: 100%;
        align-items: center;
}

H1,H2{
    font-size: 40pt;
}

.introText{
    margin-top: -15%;
    font-size: 20pt;
    line-height: 25pt;
}

.block-pink{
    width: 100%;
    margin-bottom:25%;
    
}

.alondraImg{
    width: 100%;
    align-items: center
}







}




  

    
    
/*     
    Mobile: 360 x 640
    Mobile: 375 x 667
    Mobile: 360 x 720
    iPhone X: 375 x 812
    Pixel 2: 411 x 731
    Tablet: 768 x 1024
    Laptop: 1366 x 768
    High-res laptop or desktop: 1920 x 1080 */